<table class="holyday-list-table">
% for i in dates:
    <tr>
        <td class="holyday-list-table-this-yead-date">
            ${ i['date'] | x}
        </td>
        <td rowspan="2" class="holyday-list-table-description">
            ${ i['msgstr'] | x}
        </td>
        <td rowspan="2" class="holyday-list-table-anniversary">
            % if i['anniversary']:
            ${ '{} {}'.format(
                i['anniversary'], 
                prog_trans.gettext('anniversary')
                )  | x}
            % endif
        </td>
    </tr>
    <tr>
        <td class="holyday-list-table-original-date">
            (${ i['original_date'] | x})
        </td>        
    <tr>
% endfor
</table>