Show Holiday List
<form method="get" action="main.html">
    <label>Year <input type="text" name="year" /></label>
    <label>Language <input type="text" name="lang" value="en" /></label>
    <button type="submit">Go</button>
</form><hr />
<hr />
Show Month calendar
<form method="get" action="month.html">
    <label>Year <input type="text" name="year" /></label>
    <label>Month <input type="text" name="month" /></label>
    <label>Language <input type="text" name="lang" value="en" /></label>
    <label><input type="checkbox" name="list" /> Add Holiday List</label>
    <button type="submit">Go</button>
</form><hr />
Show Year calendar
<form method="get" action="year.html">
    <label>Year <input type="text" name="year" /></label>
    <label>Language <input type="text" name="lang" value="en" /></label>
    <label><input type="checkbox" name="list" /> Add Holiday List</label>
    <button type="submit">Go</button>
</form>